# Medusa Backend Configuration
MEDUSA_BACKEND_URL=http://16.170.238.1:8080

# Medusa API Keys
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_5db8880bd90c016075beeacc5908c63535b4be308c71af41a5182266f9547191

# Next.js Configuration
NEXT_PUBLIC_SITE_URL=https://your-app.vercel.app

# Optional: Analytics and Monitoring
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_SENTRY_DSN= 